@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

body{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  background-color: #fff;
}
.container{
  width: 100%;
  margin: 1em auto;
}
.card-body{
  background-color: #000;
}
.card-body button{
  background-color: #E71D60;
}
.card-body button:hover{
  background-color:#300614 ;
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 0.5em;
  padding:20px;
  justify-content: center;
}
h2{
  background-color: #fff;
}
